<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="text/html" >
    <meta name="viewport" content="width=device-width,
                                    initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="vote and submit site">
    <meta name="author" content="Kalnynsh">
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Discuss - Share and Discuss your favourite web pages</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'new-submission' %}">Submit New link</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'user-registration' %}">Create New Account</a></li>
            {% endif %}
        </ul>
    </nav>

        {% block content %}
        {% endblock content %}
</div>
</body>
</html>