{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <h1 class="page-header">Welcom to Discuss</h1>
    <h2>Submissions</h2>
    <ul class="list-group">
        {% for submission in submissions %}
        <li class="list-group-item">
            {% if request.user in submission.upvotes.all %}
                <a href="{% url 'remove-upvote' link_pk=submission.pk %}">
                    <span class="badge"> Remove Upvote</span>
                </a>
            {% else %}
            <a href="{% url 'upvote-submission' link_pk=submission.pk %}"><span class="badge"> Upvote</span></a>
            {% endif %}
            <a href="{{ submission.url }}" target="_blank">
                {{ submission.title }}
            </a>
            <i><a href="{% url 'submission-detail' pk=submission.pk %}"><span class="badge"> Comments</span></a></i>
        </li>
        {% endfor %}
    </ul>
{% endblock %}