{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <h1>New Comment</h1>
    <p>
        <b>You are commenting on</b>
        <a href="{% url 'submission-detail' pk=submission.pk %}">
            {{ submission.title }}
        </a>
    </p>

    <form action="" method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.as_p }}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Post Comment
        </button>
        {% endbuttons %}
    </form>
{% endblock %}